.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    
}

.input-container input, textarea {
    color: var(--text);
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 1rem
}

.input-container input::placeholder, textarea::placeholder {
    color: #a0a0a0; 
   
}

.input-container input:focus, textarea:focus{
    border-color:  var(--secondary-light);
    outline: none;
}

.input-error {
    color: var(--error-content);
    font-size:0.8rem
}


