#nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    flex-direction: column;
}

#nav li{
    padding: 1rem;
}

#nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;    
    cursor:pointer
}

/* Active link style */
#nav ul li a.active {
    color: #30B2B0;
    text-decoration: underline;
  }
  
  /* Hover effect for links */
  #nav ul li a:hover {
    color: #30B2B0;
   
}

@media (min-width: 768px) {
    #nav {
        background-color: black;
        flex-direction: row;
        justify-content: space-between;
    }
    #nav ul {
        flex-direction: row;
    }

}