#nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
    flex-direction: column;
}

#nav li{
    padding: 1rem;
}

#nav a {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;    
    cursor:pointer
}

#nav a:hover{
    color: #30B2B0;
}

#nav a:active {
    color: #30B2B0;
}

#nav .active {
    color: #30B2B0;
    text-decoration: underline;
}

@media (min-width: 768px) {
    #nav {
        background-color: black;
        flex-direction: row;
        justify-content: space-between;
    }
    #nav ul {
        flex-direction: row;
    }
    #nav a{
        color: white;
    }
    #nav a:hover{
        color: #40E0D0;
    }
    
    #nav a:active {
        color: #40E0D0;
    }
    
    #nav .active {
        color: #40E0D0;
    }
}