#skill-card {
   position: relative;
   width:8rem;
   height: 6rem;
   
}
.skill-card__front, .skill-card__back {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-color: var(--border);
   border-style: solid;
   box-shadow: 6px 6px 6px var(--border);
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transition: transform 0.8s ease-in-out;
   background-color: var(--foreground);
}

.skill-card__front {
   padding:1rem;
   transform: rotateY(0deg);
}

.skill-card__back {
   transform: rotateY(-180deg);
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--secondary);
}

#skill-card:hover .skill-card__front {
   transform: rotateY(180deg);
}

#skill-card:hover .skill-card__back {
   transform: rotateY(0deg);
}
