
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 100vh
}
#intro-text{
    
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    
}
#intro-type {
    font-size: 2rem;
    
}

#intro-descp{
    text-align: left;
    margin-top: 2rem;
    justify-content: center;
    padding: 0 2rem;
}

#model-robot {
    width: 95% !important;
    height: 40vh!important;
    z-index: 5;
 
}

@media (min-width: 768px) and (max-width: 1199px) {
    #home{
        margin-top: 2rem;
    }
    #intro-text{
        margin-top: 2rem;
        width: 70%;
    }
    #model-robot {
        width: 80% !important;
    }

    
}

@media (min-width: 1200px) {
    #home {
        flex-direction: row;
        flex-wrap: wrap;   
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    #intro-text {
        margin-top: 0rem;
        width: calc(45% - 2rem);
    }
    #intro-type {
       
        font-size: 2.5rem;
    }
    .show-more {
        display: none;
    }
    #model-robot {
        margin-top: 2rem;
        width: calc(50% - 1rem) !important;
        height: 90vh!important;
    }
    
}

