
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 2rem;
}


#intro-type {
    font-size: 2rem;
    
}
#intro-img img{
    width: 100%;

    object-fit: cover; 

}
#intro-descp{
    text-align: left;
    margin: 2rem 0;
    justify-content: center;
}
@media (max-width: 1200px) {
    #intro-img img{

        max-height: 300px; 

    
    }
}

@media (min-width: 1200px) {
    #home {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    #intro-text {
        width: calc(45% - 2rem);
    }
    #intro-type {
       
        font-size: 2.5rem;
    }
     #intro-img{
      
        width: calc(45% - 2rem);
    }
    .show-more {
        display: none;
    }
    
}

