
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 2rem;
}
#intro-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.intro-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



.typing-text span {
    color: var(--secondary-content);
    font-weight: 600;
}

#intro-descp{
    text-align: left;
    justify-content: center;
    max-width:50ch;
    margin: 0 auto;
    padding: 0 1rem;
    
}

#model-robot {
    margin-top: 100px;
    width: 95% !important;
    height: 40vh!important;
    z-index: 5;
 
}

.social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 2rem;
    width: 100%;
    border-radius: 10px;
}


.social-icon {
    color: var(--text);
    
}



.social-wrapper a :hover {
    color: var(--secondary-content);
    
   
}
.resume-btn {
    display: flex;
    width: fit-content; 
    align-items: center; 
    gap: 1rem; 
    border-radius: 9999px; 
    background-color: rgba(31, 41, 55, 0.1); 
    padding: 10px 20px; 
    color: #F9FAFB; 
    font-size: 1rem;
    cursor: pointer;
    
}

.arrow-icon {
    transition: transform 0.3s ease; 
}

.resume-btn:hover .arrow-icon {
    transform: rotate(-45deg); /* Rotate -45 degrees on hover */
}


@media (min-width: 768px) and (max-width: 1199px) {
    #home{
        margin-top: 2rem;
    }
   
    #model-robot {
        width: 80% !important;
    }
    #intro-text {
        margin-top: 0rem;
        width: 70%;
    }
    
}

@media (min-width: 1200px) {
    #home {
        flex-direction: row;
        flex-wrap: wrap;   
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    #intro-text {
        margin-top: 0rem;
        width: calc(50% - 2rem);
    }

    .show-more {
        display: none;
    }
    #model-robot {
        margin-top: 2rem;
        width: calc(50% - 1rem) !important;
        height: 90vh!important;
    }
    
}

