#projects {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    
}
.projects-container {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 2rem;
}
.project-wrapper{
    width: calc(100% - 1rem);
    max-width: 330px;
    margin: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
    #projects {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .projects-container{
        flex-direction: row;
        width: 100%;
    }
    .project-wrapper{
        width: calc(50% - 2rem);
        /* width: 330px; */
        height: auto;
    }
   

    
}

@media (min-width: 1280px) {
    #projects {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .projects-container{
        flex-direction: row;
        width: 80%;
    }
    .project-wrapper{
        width: calc(33% - 2rem);
        /* width: 330px; */
        height: auto;
    }

    
}