.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #292947;
    color: white;
    border-radius: 15px;
    margin: 0.5rem;
    width: calc(100% - 1rem);
    height: 450px;
    max-width: 330px;
    overflow: hidden;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    img {
        
        width: 100%;
        height: 250px;
        max-height: 45%;
      
    }
    .card-body {
        
        padding: 1rem; /* Add padding around the content */
        flex-grow: 1; /* Allows content to take remaining space */
        display: flex;
        flex-direction: column; /* Aligns the content vertically */
    }
    .card-title {
        margin-bottom: 1rem;
    }
    .techList {
        list-style: none;
        padding: 0;
        color: #8686F1;
        align-items: left;
        font-size: 0.875rem;
    }
    .techList li {
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem;
        border-radius: 15px;
        background-color:#19262E
    }
    .card-text {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }

}

.project-details-modal {
    top: 10vh !important;
    background-color:#1a1a2e !important;
    color: white;
   
    .card-body{
        padding: 1rem;
    }
    .techList {
        margin-top: 1rem;
        list-style: none;
        padding: 0;
        color: #8686F1;
        align-items: left;
        font-size:  0.875rem
    }
    .techList li {
        display: inline-block;
        padding: 0.3rem;
        margin: 0.3rem;   
    }
    img { 
        padding: 0 1rem;
        width: 100%;
        height: 250px;
        max-height: 30vh;   
    }
}

.overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(100, 100, 180, 0.75), rgba(30, 30, 60, 0.75));;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out ;
    
    flex-direction: column;
}

.overlay button {
    position: absolute;
    bottom: 30%;
    padding: 10px 20px; 
    background-color: #268077;
    font-weight: bold;
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 

}

.project-card:hover {
    transform: scale(1.05);
}

.project-card:hover .overlay {
    /* height: 100%; */
    opacity: 1;
}

.overlay button:hover {
    background-color: #2ab1a5
}



@media (min-width: 768px) and (max-width: 1199px) {
    .project-card {
        width: calc(50% - 2rem);
        height: auto;    
    }
    .project-details-modal {
        img {
            height: 350px;
            max-height: 35vh; 
        }
    }
}

@media (min-width: 1200px) {

    .project-card {
        width: calc(33% - 2rem);
        height: auto;    
        .card-text {
            -webkit-line-clamp: 4;
    
        }
    }

    .project-details-modal {
        img {
            height: 450px;
            max-height: 40vh; 
        }
    }
    

  

    
}