
html {
  font-size: 14px !important;
}
.App {
  text-align: center;
  width: 100%;
  
}

#body { 
  background-color:#0c0c1d; 
  overflow: hidden;
}

p {
  font-size: 1rem !important;
  line-height: 1.6; 
}

h1 {
  font-size: 2rem !important; 
}

h2 {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.25rem !important;
}

h5 {
  font-size: 1.125rem !important;
}


.sectionHeading {
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items: center;
  margin: 2rem 0;
   
}

.sectionName {
  padding-right: 2rem;
  color: white;

}

.divider {
  flex-grow:1;
  height: 1px;
  background-color: white;
}

#myFooter {
  margin-top: 5rem;
  height:150px; 
  background-color:black;
  color:white;
}



@media (min-width: 768px) {
  html {
    font-size: 16px !important;
  }
  p {
    font-size: 1rem !important; 

  }
  h1 {
    font-size: 2.25rem !important;  
  }
  h2 {
    font-size: 2rem !important;  
  }
  h3 {
    font-size: 1.75rem !important;  
  }
  
  h4 {
    font-size: 1.5rem !important;
  }
  .sectionHeading {
    margin: 4rem 0;
     
  }
  
 
}

@media (min-width: 1200px) {
  html {
    font-size: 18px !important;
  }
  p {
    font-size: 1rem !important; 

  }
  h1 {
    font-size: 3rem; 
  }

  h2 {
    font-size: 2.5rem; 
  }

  h3 {
    font-size: 2.25rem; 
  }
  
  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.75rem;
  }
  .sectionHeading {
    margin: 8rem 0;
     
  }
 
}