@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #8338ec;
  --primary-content: #fafafd;
  --primary-dark: #6815dc;
  --primary-light: #a067f0;
  --primary-link: #a067f0;
  
  --secondary:#ec3847;
  --secondary-dark: #dc1526;
  --secondary-light: #f06772;
  --secondary-content: #ffffff;

  --background: #131122;
  --foreground: #1d1934;
  --foreground-light: #272247; 
  --border: #302956;

  --text: #fafafd;
  --text-light: #cfcbe6;
  --text-lighter: #8f87c5;

  --error-content: #e3a0a0;
}

[data-theme="light"] {
  --primary: #8338ec;
  --primary-content: #fafafd;
  --primary-dark: #6815dc;
  --primary-light: #873AF2;
  --primary-link: #8338ec;

  --secondary:#C9303D;
  --secondary-dark: #B82C38;
  --secondary-light: #D63341;
  --secondary-content: #ffffff;
  --background: #eceaf5;
  --foreground: #fafafd;
  --foreground-light: #eceaf5;
  --border: #ddd4ea;

  --text: #1d1934;
  --text-light: #4c428a;
  --text-lighter: #6f64b4;

  --error-content: #CC2414;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins',  sans-serif;
  background-color:var(--background); 
  color: var(--text);
  overflow-x: hidden;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: var(--text);
  font-size: 1.125rem;
}
a {
  font-family: inherit;
  cursor: pointer;
}

p {
  font-size: 1rem;
  line-height: 1.6; 
}

h1 {
  font-size: 2.25rem; 
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem ;
}

h4 {
  font-size: 1.25rem ;

}

h5 {
  font-size: 1.125rem ;
}

@media (min-width: 768px) and (max-width: 1199px) {
 
  h1 {
    font-size: 2.5rem ;  
  }
  h2 {
    font-size: 2rem ;  
  }
  h3 {
    font-size: 1.75rem ;  
  }
  
  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem ;
  }


 
}

@media (min-width: 1200px) {

  p {
    font-size: 1.125rem; 

  }
  h1 {
    font-size: 2.75rem; 
  }

  h2 {
    font-size: 2.25rem; 
  }

  h3 {
    font-size: 2rem; 
  }
  
  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

 
}